.App {
  text-align: center;
  height: 100%;
}


.optionlist {
  margin: 0 0 1em;
}

.chooseOption {
  text-align: left;
}

.createdCard {
  box-shadow: none !important;
}

.room {
  display: block !important;
  width: 30%;
}

.segment {
  height: auto;
  max-height: 60%;
  overflow: auto;
  margin-bottom: 20px;
}

h1 {
  color: white !important;
  font-family: 'Knewave', cursive !important;
}